/* import Poppins Font from google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 400;
}
html {
    scroll-behavior: smooth;
  }
ul{
    list-style: none;
}
a{
    text-decoration: none !important;
}
.container{
    position: relative;
    height: 100% !important;
}
/*buttons-hover*/
.button-hover {
    appearance: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
.button-hover:disabled {
    pointer-events: none;
}
.button-hover:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.button-hover:active {
    box-shadow: none;
    transform: translateY(0);
}
/*show header on scroll*/
header.black{

    width: 100%;
    height: max-content;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    transform: translate3d(3s);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
/*scroll up btn*/
.btnTop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    color: #E35A4A;
    display: none;
    border: none;
    background-color: #fff;
    border: 1px solid #E35A4A;

}
/*loading spinner*/
.spinner{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 50vh auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #E35A4A;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
}
  
@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
}
/*top-section*/
.top-section{
    height: 8vh;
    background-color: #E35A4A;
}
.left-side-info ,.right-side-icons{
    height: 100%;
    display: flex;
    align-items: center;
}
.left-side-info{
    background-color: #E35A4A;
}
.right-side-icons{
    justify-content: right;
    background-color: #E35A4A;
}
.top-section i , .top-section a{
    color: #fff;
}
.top-section i{
    font-size: 20px;
}
.top-section a:hover{
    color: #fff;
}

.follow-btn a{
    font-size: 12px;
    padding: 5px 25px;
    color: #E35A4A;
    border-radius: 5px;
    background-color: #fff;
}
.follow-btn a:hover{
    color: #E35A4A;
}
/*navbar*/
.navbar .nav-link.active{
    color: #E35A4A !important;
}
.navbar .navbar-brand img{
    width: 150px;
}
.navbar-nav .nav-item a {
    position: relative;
    color: #000;
    text-decoration: none;
}
.navbar-nav .nav-item   a:hover {
    color: #000;
} 
.navbar-nav .nav-item  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #E35A4A;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s ease;
}
.navbar-nav .nav-item   a:hover::before {
    transform: scaleX(1);
}
.request-btn a{
    color: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #E35A4A;
}
.request-btn a:hover{
    color: #fff;
}
/*home-page*/
.home-page{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/home-img/home-img.jpg);
    background-position: 100% 60%;
    flex-direction: column;
    background-size: cover;
}
.home-page-content  p:first-child {
    color: #E35A4A;
}
.home-page-content h2{
    color: #fff;
}
.home-page-content p{
    padding: 25px 0;
    font-size: 22px;
    color: #fff;
}
.home-page-btn a{
    color: #fff;
    padding: 10px 55px;
    border-radius: 10px;
    background-color: #E35A4A;
}
.home-page-btn a:hover{
    color: #fff;
}
.media-icons a i:hover{
    transform: scale(1.1);
}
/*home-page-items*/
.home-page-items{
    height: 20vh;
    background-color: #E35A4A;
}
.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
}
.ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    overflow: hidden;
}
.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}
.home-page-items .row .col{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #fff;
    background-color: #E35A4A;

}
.home-page-items .row .col a{
    color: #fff;
}
.home-page-items .row .col:last-child{
    border-right: none;
}
.home-page-items .row .col img{
    height: 8vh;
}
/*law-firm-information*/
.law-firm-information{
    margin: 50px 0;
    height: max-content;
}
.law-firm-info{
    margin: 30px 0px;
}
.law-firm-info h2{
    padding: 20px 0;
}
.ml14 {
    font-weight: 200;
    font-size: 44px;
}
.ml14 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-bottom: 0.15em;
}
.ml14 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #E35A4A;
    transform-origin: 100% 100%;
    bottom: 0;
}
.ml14 .letter {
    display: inline-block;
    line-height: 1em;
}
.law-firm-info p{
    font-size: 18px;
    color: #808080;
}
.see-more-btn{
    margin: 50px 0;
}
.see-more-btn a{
    color: #fff;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: #E35A4A;
}
.see-more-btn a:hover{
    color: #fff;
}
.contract-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contract-img img{
    width: 350px;
    height: 400px;
    border-radius: 10px;
}
.contract-img img:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

/*commitment*/
.commitment{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../img/home-img/pexels-pixabay-208603.jpg);
    background-position: 30% 50%;
    background-size: cover;
}
.commitment-info{
    width: 50%;
}
.commitment p{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    word-spacing: 5px;
}
/*best-lawyers*/
.best-lawyers .row .col{
    overflow: hidden;
}
.best-lawyers img{
    width: 100%;
    height: 400px;
    border-radius: 8px;
}
.best-lawyers .card {
    width: 300px;
    height: 400px;
    background: #E35A4A;
    overflow: hidden;
    text-align: left;
}
.best-lawyers .card .imgBx,
.best-lawyers .card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
    text-align: left;

}
.best-lawyers .card .imgBx {
    top: 0;
    left: 0;
}
.best-lawyers .card:hover .imgBx {
    top: 0;
    left: -100%;
}
.best-lawyers .card .imgBx img {
    width: 100%;
}
.best-lawyers .card .details {
    background: #E35A4A;
    top: 0;
    left: 100%;
    padding: 60px 30px;
}
.best-lawyers .card:hover .details {
    top: 0;
    left: 0%;
}
.best-lawyers .card .details h3 {
    color: #fff;
    text-align: center;
    margin: 0;
    border-bottom: 2px solid #fff;

}
.best-lawyers .card .details p {
    color: #fff;
    padding: 0 10px;
}
.best-lawyers img:hover{
    box-shadow: rgba(255, 113, 113, 0.5) 0px 5px 15px;
}
.best-lawyers .row .col a{
    color: #000;
}
.best-lawyers .row .col a h3:hover{
    color: #262626;
}
/*clients-says*/
.clients-says #carouselExampleDark{
    height: max-content;
    background-color: rgb(245, 245, 245);
}
.clients-says .carousel-item img{
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
}

/*our-latest-news*/
.our-latest-news{
    height: max-content;
}
.our-latest-news img{
    border-radius: 8px;
}
.our-latest-news h5{
    font-size: 22px;
    padding: 10px 0;
}
.read-more  {
    font-size: 20px;
    color: #E35A4A;
}
.read-more:hover{
    color: #E35A4A;
}
/*our-special-clients*/
.our-special-clients{
    height: 100vh;
    background-image: url(../img/home-img/home-bg2.jpg);
    background-position: 100% 100%;
    background-size: cover;
}
.our-special-clients h2{
    color: #fff;
}
.our-special-clients .row{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.our-special-clients .row .col{
    width: 20vw;
    height: 35vh;
    background-color: #E35A4A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.our-special-clients .row .col img{
    width: 100%;
    height: 90%;
}
/*contact-us*/
.contact-us img{
    width: 90%;
    border-radius: 15px;
}
.send-msg button{
    color: #fff;
    background-color: #E35A4A;
}
.send-msg button:hover{
    color: #fff;
}
/*map*/
.map iframe{
    width: 100%;
    height: 80vh;
}
/*footer*/
footer .info img{
    width: 250px;
}
footer p{
    font-size: 14px;
}
footer .info a{
    height: max-content;
    padding: 5px 0;
    color: #000;
    text-align: left;
    display: flex;
    align-items: flex-start;
}
footer a i{
    color: #E35A4A;
    font-size: 20px;
}
footer .footer-items ul{
    display: flex;
    line-height: 50px;
    flex-direction: column;
}

footer .footer-items ul li a{
    color: #000;
}
footer .footer-items ul li a:hover{
    color: #E35A4A;
}
.footer-Lawyers img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.copyright{
    text-align: center;
    background-color: rgb(245, 245, 245);
}
.copyright p{
    padding: 5px 0;
    margin-bottom: 0;
}
/*================================= About Page =================================*/
.about-page{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/home-img/home-img.jpg);
    background-position: 100% 60%;
    flex-direction: column;
    background-size: cover;
}
.breadcrumb-bg{
    background-color: #f5b0a8;

}
.breadcrumb li.active{
    color: #E35A4A !important;
}
.breadcrumb .breadcrumb-item a{
    color: #000;
}
/*our-mission*/
.our-mission{
    height: max-content;
}
.nav-pills{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav-pills .nav-link{
    color: #000;
}
.nav-pills .nav-link:hover{
    color: #E35A4A;
}
.nav-pills .nav-link.active{
    background-color: #E35A4A !important;
}
.tab-content .contract-content p{
    color: #808080;
}
.tab-content .sig-img{
    position: relative;
    display: flex;
}
.tab-content .sig-img .sig-img-bg{
    width: 50%;
    height: 300px;
    background-color: #f5b0a8;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    border-radius: 20px;
}
.tab-content .sig-img img{
    width: 50%;
    height: 300px;
    position: absolute;
    left: 50px;
    top: 50px;
}
.tab-content .sig-img .sig-img-bg h6{
    font-weight: 800;
    padding: 20px;
    color: #fff;
}
.tab-content .tab-pane{
    height: 60vh;
}
/*================================= practice Page =================================*/
.practice-page{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/home-img/home-img.jpg);
    background-position: 100% 60%;
    flex-direction: column;
    background-size: cover;
}
.legal-practice-items .row  img{
    border-radius: 8px;
    height: 200px;
    width: 400px;
}
.legal-practice-items .row  p{
    color: #808080;
}
.practice-info{
    padding-left:50px !important;
}
.practice-pagintion ul li a ,.practice-pagintion ul li a:hover{
    color: #E35A4A;
}
.search-box .btn{
    background-color: #E35A4A;
    color: #fff;
}
.search-box .btn:hover{
    color: #fff;
}
/*================================= media queries =================================*/
@media screen and (max-width:575px) {
    .btnTop{
        position: fixed;
        bottom: 100px;
        right: 10px;
        padding: 10px;
        color: #E35A4A;
        display: none;
        border: none;
        background-color: #fff;
        border: 1px solid #E35A4A;
     }
    /*top-section*/
    .top-section .container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .left-side-info{
        height: 8vh;
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden !important;
    }
    .right-side-icons{
        height:10vh;
        position: fixed;
        left: 0;
        bottom: 0;
        display: flex;
        z-index: 999;
        align-items: center;
        justify-content: center;
        overflow-x: hidden !important;
    }
    .top-section i , .top-section a{
       font-size: 16px;
    }
    /*home-page*/
    .home-page , .about-page , .practice-page{
        height: 80vh;
        background-position:center center;
    }
    .ml14 .text-wrapper {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    /*home-page-items*/
    .home-page-items{
        padding: 20px 0;
        margin: 20px;
        height: max-content;
        background-color: #fff;
    }
    .home-page-items .row .col{
        border-radius: 10px;
        padding: 10px 0;
        margin: 10px 0;
    }
    /*commitment*/
    .commitment{
        padding: 20px 0;
        margin: 50px 0;
        height: max-content;
    }
    .commitment-info{
        width: 90%;
    }
    /*our-special-clients*/
    .our-special-clients{
        height: 60vh;
        overflow-y: scroll;
    }
    .our-special-clients .row .col{
        width: 90vw;
    }
    .our-special-clients .row{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*contact-us*/
    .contact-us img{
        width: 100%;
    }
    /*copyright*/
    .copyright{
        margin-bottom: 60px;
    }
    .ml14 ,.ml6 {
        font-weight: 200;
        font-size: 28px;
    }
    /*best-lawyers*/
    .best-lawyers .row .card{
        width: 100%;
        text-align: left;  
    }
    /*========== About page ==============*/
    .tab-content .sig-img .sig-img-bg{
        width: 100%;
        display: none;
    }
    .tab-content .sig-img img{
        width: 100%;
        margin: 0;
        padding: 0;
        position: static;
        left: 0;
        top: 0;
        margin-bottom: 20px;
    }
    .tab-content .tab-pane{
        height: max-content;
    }
    /*========== Practice page ==============*/
    .practice-info{
        padding: 20px !important;
    }
}
